<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title><% settings.appname %></title>
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.css" />
<link href="<% request.uri_base %>/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="<% request.uri_base %>/css/table-style.css" />

<script src="<% request.uri_base %>/javascripts/jQuery/jquery-1.7.2.min.js"></script>

</head>
<body>

<div id="navbar" class="navbar">
<div class="navbar-inner">
    <div class="container">
      <a class="brand"><% settings.appname %></a>

<% IF session.user %>
<div class="btn-group pull-right">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <% session.user.name |html %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="<% request.uri_base %>/user/logout">Log '<%session.user.name |html %>' out</a></li>
            </ul>
</div>
<% END %>
        <ul class="nav">
          <li><a href="<% request.uri_base %>">Home</a></li>
<% IF session.user %>
<li><a class="active navbar-link" href="<% request.uri_base %>/diff">Diff</a></li>
<% ELSE %>
<li><a href="<% request.uri_base %>/user/login">Log in</a></li>
<% END %>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
</div>
</div>
</div>

<% IF flash.error %>
<div id="msg_error" class="alert alert-error"> <a class="close" data-dismiss="alert" href="#">×</a><% flash.error | html %> </div>
<% END %>
<% IF flash.message %>
<div id="msg_message" class="alert"> <a class="close" data-dismiss="alert" href="#">×</a><% flash.message |html %> </div>
<% END %>
<% IF flash.success %>
<div id="msg_success" class="alert alert-success"> <a class="close" data-dismiss="alert" href="#">×</a><% flash.success |html %> </div>
<% END %>

<% content %>

<footer id="footer" class="span11">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
Using <a href="http://glyphicons.com/">Glyphicons</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
</footer>
<script src="<% request.uri_base %>/javascripts/bootstrap-2.0.3/bootstrap.js"></script>
<script src="<% request.uri_base %>/javascripts/bootstrap-2.0.3/bootstrap-alert.js"></script>
</body>
</html>
